@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "f1";
  src: url("/font1.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-f1: "f1", sans-serif;
  --z-9999: 9999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "f1", sans-serif;
}
